@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Bai Jamjuree', sans-serif;
}

:root {
  /* Primary*/
  --StrongCyan: hsl(171, 66%, 44%);
  --LightBlue: hsl(233, 100%, 69%);
  /*Neutral*/
  --DarkGrayishBlue: hsl(210, 10%, 33%);
  --GrayishBlue: hsl(201, 11%, 66%);
  --footer: hsl(201, 9%, 95%);
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  color: var(--DarkGrayishBlue);
}

p {
  color: var(--GrayishBlue);
  text-align: center;
  width: 45%;
  margin-top: 1.8%;
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-position: right top -50px;
  width: 100vw;
  height: 500px;
}

.buttoms {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

.buttom1 {
  border-style: solid;
  border-radius: 37px;
  background-color: var(--StrongCyan);
  color: white;
  text-align: center;
  height: auto;
  width: 200px;
  padding: 18px;
  text-decoration: none;
  font-size: 16px;
}
.buttom1:hover{
  background-color: hsl(171, 66%, 64%);
}
.buttom2:hover{
  background-color: hsl(233, 100%, 76%);
}

.buttom2 {
  border-style: solid;
  border-radius: 37px;
  background-color: var(--LightBlue);
  color: white;
  text-align: center;
  height: auto;
  width: 200px;
  padding: 18px;
  text-decoration: none;
  font-size: 16px;
}

.paragraph_banner {
  color: var(--GrayishBlue);
  text-align: center;
  width: 45%;
  margin-top: 1.8%;
}

.text_banner {
  font-size: 2.3em;
  margin-top: 4%;
}

.second_banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
}

.functions {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 500px;
  margin-top: 30px;
}

.function_monitor {
  flex: 50%;
  padding-right: 5%;
}

.mac_logo {
  width:100%;
  height: auto;
}

.function {
  text-align: left;
}

.function_text {
  text-align: left;
}

.function_boxs {
  flex-direction: column;
  padding: 1%;
}

.function_box {
  margin-top: 5%;
}

.preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

.third_banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
  margin-top: 20%;
}

.skills_banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
}

.skills {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  width: 90%;
  height: 200px;
  text-align: center;
}

.skills_box {
  position: relative;
  flex: 30%;
  flex-direction: column;
  padding: 1%;
}

.skill_txt {
  width: 80%;
}

.skill_h2 {
  width: 80%;
  margin-top: 2%;
}

.skill_image {
  margin-right: 60px;
}

.partners {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: auto;
}

.fourth_banner {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 400px;
}

.footer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100%;
  background-color: var(--footer);
  justify-content: center;
  align-items: center;
  padding: 5%;
}

.logo_footer {
  flex: 20%;
  align-self: center;
}

.logo_img {
  width: 20%;
}

.footer_menu {
  flex: 45%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  grid-template-rows: 50% 50%;
}

.menu1 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.menu2 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.menu3 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.menu4 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.menu5 {
  grid-column: 3/4;
  grid-row: 1/2;
}

.footer_social {
  display: flex;
  flex: 20%;
  flex-direction: row;
}

.social_icon {
  padding: 5%;
}
.facebook:hover{
  fill:#4267B2;
}
.twitter:hover{
  fill:#1DA1F2;
}
.instagram:hover{
  fill: #125688;
}
a{
  text-decoration: none;
  color: var(--GrayishBlue);
}
.menu_click:hover{
  color:var(--StrongCyan);
}
@media screen and (max-width:900px){
  .banner {
    height: auto;
  }
  .logo{
    margin-top: 100px;
  }
  .paragraph_banner {
    width: 65%;
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .text_banner {
    width: 90%;
  }
  .buttoms {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90vw;
    height: auto;
    margin-bottom: 100px;
  }
  .buttom1{
    width: 90vw;
    margin-bottom: 5%;
  }
  .buttom2{
    width: 90vw;
  }
  .second_banner {
    width: 100vw;
    height: auto;
    margin-bottom: 60px;
  }
  h2 {
    width: 70%;
  }

  p {
    width: 70%;
  }

  .functions {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: auto;
    margin-top: 30px;
  }

  .function_monitor {
    flex: 50%;
    padding-right: 5%;
  }

  .mac_logo {
    width: 100vw;
    height: auto;
    margin-bottom: 10%;
  }

  .function {
    text-align: center;
    width: auto;
  }

  .function_text {
    text-align: center;
    width: auto;

  }

  .function_boxs {
    flex-direction: column;
    padding: 10%;
  }

  .devices {
    width: 100vw;
    height: auto;
  }

  .third_banner {
    width: 100vw;
    height: auto;
    margin-top: 100px;
    margin-bottom: 60px;
  }
  .skills_banner {
    width: 100vw;
    height: auto;
  }

  .skills {
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 90%;
    height: auto;
    text-align: center;
  }

  .skills_box {
    position: relative;
    flex: 30%;
    flex-direction: column;
    padding: 1%;
  }

  .skill_txt {
    width: auto;
  }

  .skill_h2 {
    width: auto;
    margin-top: 2%;
  }

  .skill_image {
    margin-right: auto;
  }
  .partners {
    display: flex;
    flex-direction: column;
  }
  .partners_logo{
    padding: 8%;
  }
  .footer {
    display: flex;
    flex-direction: column;
  }

  .logo_footer {
    flex: auto;
    justify-content: center;
    align-items: center;
    margin: auto 0 auto 30px;
  }

  .logo_img {
    width: 80%;
  }

  .footer_menu {
    flex: auto%;
    display: flex;
    padding: 10%;
    line-height: 2em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer_social{
    flex: auto;
    justify-content: center;
    align-items: center;
  }
  .social_icon{
    padding: 20%;
  }
}
