@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
  font-size: 18px;
  font-family: 'Bai Jamjuree', sans-serif;
}
:root{
  /* Primary*/

--StrongCyan: hsl(171, 66%, 44%);
--LightBlue: hsl(233, 100%, 69%);

/*Neutral*/

--DarkGrayishBlue: hsl(210, 10%, 33%);
--GrayishBlue: hsl(201, 11%, 66%);
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
}
h2{
  font-size: 1.5em;
  text-align: center;
  color: var(--DarkGrayishBlue);
}
p{
  color: var(--GrayishBlue);
  text-align: center;
  width: 45%;
  margin-top: 1.8%;
}
.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-position: right top -50px;
  width: 100vw;
  height: 500px;
}
.buttoms{
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}
.buttom1{
  border-style: solid;
  border-radius: 37px;
  background-color: var(--StrongCyan);
  color: white;
  text-align: center;
  height: auto;
  width: 200px;
  padding: 18px;
  text-decoration: none;
  font-size: 16px;
}
.buttom2{
  border-style: solid;
  border-radius: 37px;
  background-color: var(--LightBlue);
  color: white;
  text-align: center;
  height: auto;
  width: 200px;
  padding: 18px;
  text-decoration: none;
  font-size: 16px;
}
.paragraph_banner{
  color: var(--GrayishBlue);
  text-align: center;
  width: 45%;
  margin-top: 1.8%;
}
.text_banner{
  font-size: 2.3em;
  margin-top: 4%;
}
.second_banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 200px;
}
.functions{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 500px;
  margin-top: 30px;
}
.function_monitor{
  flex: 50%;
  padding-right: 5%;
}
.mac_logo{
  width: 100%;
  height: auto;
}
.function{
  text-align: left;
}
.function_text{
  text-align:left;
}
.function_boxs{
  flex-direction: column;
  padding: 1%;
}
.function_box{
  margin-top: 5%;
}
.third_banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
}
.skills_banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100px;
}
.skills{
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 200px;
  text-align: center;
}
.skills_box{
  position: relative;
  flex:30%;
  flex-direction: column;
  padding: 1%;
}
.skill_txt{
  width: 80%;
}
.skill_h2{
  width: 80%;
  margin-top: 2%;
}
.skill_image{
  margin-right: 50px;
}




.attribution {
  font-size: 11px;
  text-align: center;
 }
.attribution a {
  color: hsl(228, 45%, 44%);
}
